<html lang="sv">
    <form action="create_visitor" method="post">
        <dl>
            <dt>Förnamn:</dt>
            <dd><input type="text" name="first_name" value=""></dd>
            <dt>Efternamn:</dt>
            <dd><input type="text" name="last_name" value=""></dd>
            <dt>Personnummer:</dt>
            <dd><input type="text" name="date_of_birth" value=""></dd>
            <dt>Gatuaddress:</dt>
            <dd><input type="text" name="street_address" value=""></dd>
            <dt>c/o-adress:</dt>
            <dd><input type="text" name="c_o" value=""></dd>
            <dt>Postnummer:</dt>
            <dd><input type="text" name="zip_code" value=""></dd>
            <dt>Ort:</dt>
            <dd><input type="text" name="city" value=""></dd>
            <dt>Land:</dt>
            <dd><input type="text" name="country" value=""></dd>
            <dt>Email-adress:</dt>
            <dd><input type="text" name="email" value=""></dd>
            <dt>Mobilnummer:</dt>
            <dd><input type="text" name="phone_number" value=""></dd>
        </dl>
        <input type="submit" value="Skicka">
    </form>
<html>
